.marginOnHover {
  transition: 0.5s;
  background-color: red;
}

.marginOnHover:hover {
  margin-top: 12px !important;
  margin-top: 10px;
  cursor: pointer;
}

.marginStable:hover {
  background-color: #5c4dbc !important;
  cursor: pointer;
}

@media (max-width: 500px) {
  .marginStable {
    width: 36%;
    height: 39px !important;
    margin: -1px 0% 20px !important;
  }
}
